@using LibraryData
@model Library.Models.Catalog.LibraryAssetApi
@{
    ViewData["Title"] = "Libray Catalog Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row table-responsive">
    <h2>@ViewData["Title"]</h2>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Image</th>
            <th>Title</th>
            <th>Author/Director</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        @{
          int i = 0;
        }
        @foreach (var asset in Model.Asset) 
        {
           i++;
            <tr>
                <td>@i .</td>
                <td>
                   <a asp-controller="Catalog" asp-action="Details" asp-route-id="@asset.Id">
                   <img class="img-responsive" src="@asset.ImageUrl" alt="@asset.Title.ToLower()"/>
                   </a>
                </td>
                <td>@asset.Title</td>
                <td>@asset.AuthorOrDirector</td>
                <td>@asset.Type</td>
            </tr>
        }
        </tbody>
    </table> 
</div>


